body {
  margin: 0;
  font-family: verdana, sans-serif;
  background-color: azure;
}

h1 {
  color: #66BFBF;
  margin-top: 0;
}


.body-wrapper {
  margin: 1rem;

}

.bottom-container {
  background-color: #66BFBF;
}

.grid-container {
  display: grid;
  margin-right: inherit;
  position: relative;
  grid-template-columns: auto auto;
  grid-gap: 0px;
}

.navbar-expand {
  display: flex;
}

.links {
  display: flex;
}