body {
  margin: 0;
  font-family: verdana, sans-serif;
  background-color: azure;
}

h1 {
  font-size: 1em;
  font-weight: normal;
  width: fit-content;
  display: inline-block;
  margin: 0;
}

.body-wrapper {
  margin: auto;
  width: 95%;
  max-width: 1600px;
}

.navbar-expand {
  display: flex;
  align-items: center;
  padding: 2em 0;
  justify-content: space-between;
}

.bottom-container {
  background-color: #66BFBF;
}

.navbar-brand {
  text-decoration: none;
}

.nav-links {
  display: flex;
}

.links {
  display: flex;
}

.link {
  display: block;
}


.site-title {
  flex: 0px;
}