body {
  margin: 0;
  text-align: center;
  font-family: verdana, sans-serif;
}

h1 {
  color: #66BFBF;
  margin-top: 0;
}

.part_1 {
  background-color: #F3E9DD;
  position: relative;
  padding-top: 100px;
}

.part_2 {
    background-color: #F4FCD9;
}

.part_3 {
  background-color: #DAB88B;
}

.part_4 {
  background-color: #F7E2E2;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 190px;
}

.bottom-container {
  background-color: #66BFBF;
}